<h2>Task List</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Project</th>
        <th>Task Name</th>
        <th>Assigned User</th>
        </tr>
        
    </thead>
    <tbody>
        <tr *ngFor ="let task of tasks">
            <td>{{task.projectsName}}</td>
            <td>{{task.taskName}}</td>
            <td>{{task.email}}</td>
            <td>
                <button (click) = 'updateTask(task.id)' class = "btn btn-info"> Update</button>
                <button (click) = 'deleteTask(task.id)' class = "btn btn-danger" style="margin-left: 10px"> Delete</button>
                <button (click) = 'taskDetails(task.id)' class = "btn btn-info" style="margin-left: 10px"> View</button> 
            </td>
        </tr>
    </tbody>
</table>